

<div class="d-flex w-100">
  <div class="d-flex flex-column w-25 menu-container">
    <!-- Header Section -->
    <div class="d-flex flex-row space-between header-menu">
      <div class="d-flex flex-row align-items-center gap-4">
        <img src="assets/soccer.jfif" alt="Soccer" width="20">
        <span>Soccer</span>
      </div>
      <div>
        <img src="assets/options.png" alt="Options" width="20">
      </div>
    </div>
    
    <!-- League and Match List -->
    <div>
      <ul class="menu-list">
        <li *ngFor="let league of leagues">
          <!-- League Item -->
          <div class="league" (click)="toggleLeague(league)">
            {{ league.name }}
          </div>
          
          <!-- Matches List -->
          <ul *ngIf="league.expanded" class="match-list">
            <li *ngFor="let match of league.matches" class="match-item"  (click)="getMatchDetails(match)">
              <span>{{ match.name }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex-1">
    <app-match-data [selectedMatch]="selectedMatchData"></app-match-data>
  </div>
</div>
